* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* ==== FONT======= */

@font-face {
    font-family: "Raleway-Medium";
    src: url(font/Raleway-Medium.ttf);
}


/* ==== FONT======= */

body {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeSpeed;
}

.head {
    position: relative;
}

.row {
    max-width: 144rem;
    margin: 0 auto;
}

.head-img img {
    width: 100%;
    height: 100vh;
}

.logo {
    background: #000;
    display: block;
    position: absolute;
    top: 10%;
    left: 10%
}

.logo h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 1rem;
}

.template {
    padding-top: 5rem;
    text-align: center;
    margin: 0 auto;
}

.template p:first-child {
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
}

.template h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.sss {
    font-size: 2rem;
    font-weight: 400;
    width: 64rem;
    text-align: center;
    margin: 0 auto;
}

.sss::after {
    content: "";
    display: block;
    width: 7rem;
    height: .1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 4rem;
    background: #000;
}

.template p:last-child {
    font-size: 1.5rem;
    width: 75rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10rem;
}

.sec-slader img {
    width: 100%;
    height: 100%;
}

.reasons {
    margin-top: 12rem;
}

.upper-re h2 {
    font-size: 6rem;
    text-align: left;
    margin-left: 7rem;
}

.upper-re h2::after {
    content: "";
    display: block;
    width: 5rem;
    height: .2rem;
    background: #000;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.lower-re {
    padding: 4rem 4rem;
    clear: both;
    display: block;
    margin: 0 auto;
}

.lower-re .col {
    border: .1rem solid #00000021;
    width: 50%;
    float: left;
    display: block;
    padding: 3rem;
    margin: 0 auto;
}

.lower-re .col h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.lower-re .col p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding-right: 6rm;
}

.lower-re .col span {
    font-size: 1.3rem;
    font-style: italic;
    color: #00060057;
}

.lower-re .col3 {
    border-top: none;
    border-right: none;
}

.lower-re .col2 {
    border-left: none;
}

.lower-re .col4 {
    border-top: none;
}

.btn {
    display: block;
    clear: both;
    padding-top: 6rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 14rem;
}

.btn a {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: .2rem solid #000;
    padding: 1rem 3rem;
    border-radius: .3rem;
}

.review {
    clear: both;
    display: block;
    position: relative;
    padding-bottom: 5rem;
}

.revew img {
    width: 100%;
}

.revew h2 {
    font-size: 5rem;
    color: #fff;
    position: absolute;
    display: block;
    top: 50%;
    width: 70rem;
    right: 50%;
    transform: translate(50%, -50%)
}

.revew p {
    color: #fff;
    position: absolute;
    display: block;
    top: 75%;
    width: 70rem;
    right: 30%;
    transform: translate(50%, -50%);
}